<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update State Province</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Update State Province</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:object="${stateprovince}"
					th:action="@{/stateprovince/editStateprovince/{stateprovinceid}(stateprovinceid=${stateprovince.stateprovinceid})}"
					method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="isonlystateprovinceflag" class="col-form-label">Flag</label>
							<select class="form-control-range" th:field="*{isonlystateprovinceflag}"
							id="isonlystateprovinceflag">
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="name" class="col-form-label">Name
								</label> <input type="text" th:field="*{name}"
								class="form-control" id="name"
								placeholder="name"> <span
								th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="stateprovincecode" class="col-form-label">State province code</label> <input
								type="text" th:field="*{stateprovincecode}" class="form-control" id="stateprovincecode"
								placeholder="stateprovincecode"> <span
								th:if="${#fields.hasErrors('stateprovincecode')}" th:errors="*{stateprovincecode}"
								class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
						
							<label for="territoryid" class="col-form-label">Territory id</label>
								
								<select class="form-control-range" th:field="*{territoryid}">
								<option th:each="c : ${territoryids}"
									th:value="${c.territoryid}" class="form-control"
									th:text="${c.territoryid}" th:selected="${stateprovince.territoryid=c}"></option>
								</select> <span th:if="${#fields.hasErrors('territoryid')}"
								th:errors="*{territoryid}" class="text-danger"></span>
							<span th:if="${#fields.hasErrors('territoryid')}"
								th:errors="*{territoryid}" class="text-danger"></span>
						</div>

						<div class="form-group col-md-6">
							<label for="countryregion" class="col-form-label">Country region </label>
							<select class="form-control-range" th:field="*{countryregion}">
								<option th:each="c : ${countryregions}"
									th:value="${c.countryregionid}" class="form-control"
									th:text="${c.name}" th:selected="${stateprovince.countryregion=c}"></option>
							</select> <span th:if="${#fields.hasErrors('countryregion')}"
								th:errors="*{countryregion}" class="text-danger"></span>
						</div>

					</div>

			<div class="row">
				<div class="col-md-4 mt-3">
					<input type="submit" name="action" class="btn btn-primary"
						value="Update State Province">
				</div>
				<div class="col-md-3 mt-3">
					<input type="reset" class="btn btn-secondary" value="Clear">
				</div>
				<div class="col-md-3 mt-3">
					<input type="submit" name="action" class="btn btn-secondary"
						value="Cancel">
				</div>
			</div>
			</form>
		</div>
	</div>
	</div>
</body>
</html>