<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>State Province</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div  class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<div >
					
					<h2 class="my-5">State Province</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Id</th>
								<th>Flag</th>
								<th>Modified Date</th>
								<th>Name</th>
								<th>State Province Code</th>
								<th>Territory Id</th>
								<th>Country Region</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<!-- List Users -->
						<div th:each="current : ${stateprovinces}" class="card">
							<tr>
								<td th:text="${current.stateprovinceid}" />
								<td th:text="${current.isonlystateprovinceflag}" />
								<td th:text="${current.modifieddate}" />
								<td th:text="${current.name}" />
								<td th:text="${current.rowguid}" />
								<td th:text="${current.stateprovincecode}" />
								<td th:text="${current.territoryid}" />
								<td><a th:href="@{'/stateprovince/edit/' + ${current.stateprovinceid}}" class="btn btn-primary"><i
								class="fas fa-edit mr-1 ml-1"></i></a></td>
								<td><a th:href="@{'/stateprovince/del/' + ${current.stateprovinceid}}" class="btn btn-primary"><i
								class="fas fa-user-minus mr-1 ml-1"></i></a></td>
							</tr>
						</div>
						<tbody>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/stateprovince/add" class="btn btn-primary"><i
						class="fas fa-user-plus mr-1 ml-1"></i></a>
				</p>
				<!--<p class="my-5">
					<a href="/apps/add" class="btn btn-primary"><i
						class="fas fa-calendar-plus mr-1 ml-1"></i></a>
				</p>-->
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html><!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html>