<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Address</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${addresss}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No address yet!</h2>
				<div th:case="*">
					<h2 class="my-5">Address</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Id</th>
								<th>Address Line 1</th>
								<th>Address Line 2</th>
								<th>City</th>
								<th>Postal Code</th>
								<th>State Province</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<!-- List address -->
						<div th:each="currentAddress : ${addresss}" class="card">
							<tr>
								<td th:text="${currentAddress.addressid}" />
								<td th:text="${currentAddress.addressline1}" />
								<td th:text="${currentAddress.addressline2}" />
								<td th:text="${currentAddress.city}" />
								<td th:text="${currentAddress.postalcode}" />
								<td><a th:href="@{/info/stateprovince/{id}(id=${currentAddress.stateprovince.stateprovinceid})}" th:text="${currentAddress.stateprovince.name}" ></td>
								<td><a th:href="@{'/address/editAddress/' + ${currentAddress.addressid}}" class="btn btn-primary"><i
								class="fas fa-edit mr-1 ml-1"></i></a></td>
								<td><a th:href="@{'/address/delete/' + ${currentAddress.addressid}}" class="btn btn-primary"><i
								class="fas fa-user-minus mr-1 ml-1"></i></a></td>
							</tr>
						</div>
						<tbody>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/address/addAddress" class="btn btn-primary"><i
						class="fas fa-user-plus mr-1 ml-1"></i></a>
				</p>
				<!--<p class="my-5">
					<a href="/apps/add" class="btn btn-primary"><i
						class="fas fa-calendar-plus mr-1 ml-1"></i></a>
				</p>-->
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html>